@media only screen and (max-width:979px) {
    .page{
        background-size: 50vw;
        background-position: bottom right; 
        transform: translateY(-5vh)
    }
    body{
        display: flex;
        flex-direction: column;    
    }

    .page4{
        margin-top:80vw;
    }

    .page3{
        margin-top: 50px;
    }

    .headname{
        padding-left: 15px;
        font-size: 6vw;

    }
    
    .quizinfo{
        margin-top: 10vw;
        margin-left: 0px;
    }
    
    .gap{
        margin: -2vw;
    }  

    .info{
        font-size: 2vh;
        justify-content: flex-start;
        width: 100%;
        padding: 20px;
    }

    .contactinfo{
        align-items: center;
        justify-self: center;
        justify-content: center;
        text-align: center;
        scale:1.2;
    }
    .contactbox{
        justify-content: center;
        align-content: center;
    }

    .formlabel1{
        scale: 0.9;
        margin: 5px;
    }
    .formlabel2{
        scale: 0.9;
        margin: 5px;
    }
    form{
        margin: 0;
    }
    #submitbutton{
        scale: 1;
        margin: 20px;
        margin-top: 5px;
    }
    
    
    .pagebutton{
        width: 20vw;
        font-size: 3vw;
    }
    .endline

{   width: 50%;
    margin: 0;
    padding: 0;
    transform: translateY(-5vh);
    align-self: flex-end;
}

    .awards td {
        justify-content: center;
        align-content: center;
        width: 100%;    
    }

    .headbuttons{
        display: none;

    }
    header{
        grid-template-columns: 12% 60% 20% ;
        align-content: center;
        z-index: 2;
    }

    .menuicon{
        visibility:visible;
        background-color: rgb(56, 56, 56);
        text-align: center;
        width: 45px;
        height: 40px;
        border-radius: 15px;
        margin: 0;
        padding-top: 0px;
        font-size: 1.5vw;
        border: none;
        justify-content: center;
        align-content: center;
        align-items: center;
        transition-duration: 0.5s;
        
    }

    .videobox{
        align-self: center;
        aspect-ratio: 16/9;
        width: 80vw;
        height: 45vw;
        margin-top: 20px;
        /* position: absolute; */
        padding-top: 10vh;
        
        display: none;
    
    
    }

    .a-link-mobile{
        align-self: center;
        justify-self: center;
    }
    .page3{
        margin-bottom: 15vh;
    }
    .menucloseicon{
        
        
        visibility:visible;
        background-color: rgb(56, 56, 56);
        text-align: center;
        width: 45px;
        height: 40px;
        border-radius: 15px;
        margin: 10px;
        padding-top: 0px;
        font-size: 4vw;
        border: none;
        justify-content: center;
        align-content: center;
        align-items: flex-end;
        transition-duration: 0.5s;
        
        
    }

    

    .hbicon{
        width: 20px;
        height: 3px;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        margin: 4px 12px;
        
    }

    .menuicon:hover{
        background-color: #07FFE1;
        scale:1.1;
        .hbicon{
            background-color: rgb(56, 56, 56);

        }
    }

    .menuicon:focus-within{
        background-color: #07FFE1;
        scale:1.1;
        .hbicon{
            background-color: rgb(56, 56, 56);
        }
        
        


    }
    .menucloseicon:active{
        background-color: #07FFE1;
        scale:1.1;
        
        
        


    }

    .morehead{
        margin-top: 200px;
    }

    .box{
        width: 40vw;
        height: 15vh;
        margin-top: 0px;
    }

    .number{
        font-size: 6vw;
    }

    .subline{
        font-size: 1.3vh;
    }

    .morebox{
        width: 40vw;
        height: 15vh;

    }
    .boximage{
        resize: both;
    }

    
    
    

}

.mobile{
    width: 100vw;
    height: 15vh;
    background-color: rgb(23, 23, 23);
    position: fixed;
    
    
    
    grid-template-columns: 70px auto 0% auto ;
    align-content: center;
    z-index: -1;
    justify-content: center;
    display: none;
    text-align: right; 
    
}

.headbuttonsmobile{
    color: white;
    position: relative;
    bottom: 0px;
    display: flex;
    list-style: none;
    justify-self: center;
    margin-right: 10px;
    position: absolute; 
    align-self: center;   
    font-size: 2vh;
}

.limobile{
    margin: 15px;
    font-size: 3.2vw;
         
}




