html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: white;
}
header{
    width: 100vw;
    height: 8vh;
    background-color: rgb(23, 23, 23);
    position: fixed;
    display: grid;
    grid-template-columns: 70px auto 0% auto ;
    align-items: center;
    z-index: 2;
    
    
  
}

.headbuttons{
    color: white;
    display: flex;
    list-style: none;
    justify-self: flex-end;
    margin-right: 30px;
    position: absolute;    
}

li{
    margin: 20px;
    font-size: 20px;   

    
}

li:hover{
    color:#07FFE1 ;
}

.menuicon{
    visibility: hidden;
    justify-self: flex-end;
}

.name{
    color:rgb(0, 255, 225) ;
    margin: 0;
    padding: 0;
    justify-self: flex-start;
}


.headname{
    color:rgb(0, 255, 225) ;
    
    margin: 0;
    padding: 0;
    justify-self: flex-start;
    
}


.page{
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url(Img/sidepic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    
    
}
    

.intro{
    align-self: center;
    color: white;
    padding: 10vw;
    font-size: 30px;
}

.sidepic{
    justify-self: flex-end;
    align-self: flex-end;
    scale: 1.2;
    
}
  
.pagebutton{
    background-color: rgb(56, 56, 56);
    text-align: center;
    width: 10vw;
    height: 40px;
    border-radius: 15px;
    margin: 0;
    padding-top: 0px;
    font-size: 1.5vw;
    transition-duration:0.5s;
    border: none;
    
    
}
.pagebutton:hover{
    background-color: #07FFE1;
    scale: 1.1;
    color: rgb(56, 56, 56);
    cursor:pointer ;
}
hr{
    color: aqua;
    background-color: aqua;
    margin: 0px 80px;
    justify-self: center;
}
.page2{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-content: center;
    flex-direction: column;
    
}

.aboutmeicon{
    width: 8vh;
    justify-self: center;
    align-self: center;
    margin: 10px;
}

.amhead{
    margin-top: 12vh;
    clear: both;
    align-self: center;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    
    display: flex;

}
.morehead{
    margin-top: 12vh;
    clear: both;
    align-self: center;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    
    display: flex;
}
.infobox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.contactinfobox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.contactinfo{
    text-align: left;
    margin: 5vh;
    align-self: center;
    scale: 1.5;
    margin-left: 8vw;
    margin-top: 10vh;

}

.contactform{
    display: flex;
    margin: 10vw;
    
    /* border: 2px solid green; */
    justify-self: flex-end;
    align-self:center;
    width: 40%;
    justify-content: center;
    align-content: center;
    
}
form{
    margin-left: 200px;
    
}


.info{
    font-size: 2vw;
    width: 40%;
    margin: 5%;
    line-height: 5vh;
    
}
.awards{
    margin-left: 30px;
    padding: 0;
    table-layout: auto;
    margin-top: 40px;
    
}
.contactlogo{
    width: 5vh;
    height: 5vh;
    margin: 0;
    padding: 0;
}
.contactspecific{
    padding-top: 1vh;
}
.gap{
    margin: 0.5vw;
}  

.box{
    
    background-color: #373939;
    height: 130px;
    width: 200px;
    border-radius: 20px;
    margin: 5px;
    
    padding: 0;
    display: flex;
    transition-duration: 0.5s;
    flex-wrap: wrap;

}  
.morebox{
    
    background-color: #373939;
    height: 130px;
    width: 200px;
    border-radius: 20px;
    margin: 10px;
    padding: 0;
    display: flex;
    transition-duration: 0.5s;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: none;
    cursor: pointer;

}  

.boximage{
    width: 90px;
    height: 90px;

   
}
.moreboxicon{
    height: 70%;
}

.moresubline{
    height: 30%;
    color: #07FFE1;
    font-size: 18px;
}

.box:hover{
    scale: 1.1;
}
  

.number{
    align-self: center;
    justify-self: flex-start;
    color: #07FFE1;
    height: auto;
    font-size: 35px;
}



.subline{
    width: 100%;
    height: 20%;
    text-align: top center;
    align-self:flex-start;
    font-size: 15px;   
}

.page3{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-content: center;
    flex-direction: column;


}

.morecontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.languagebox{
    padding-top: 10vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    flex-direction: row;
    display: none;
    align-content: center;
    
}



.videobox{
    align-self: center;
    aspect-ratio: 16/9;
    width: 40vw;
    height: 22.5vw;
    margin: 20px;
    /* position: absolute; */
    padding-top: 10vh;
    
    display: none;


}

.endline

{   width: 30%;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
}

.Languages:active{
    background-color: #07FFE1;

}
.Projects:active{
    background-color: #07FFE1;

}
.Resume:active{
    background-color: #07FFE1;

}
.Quiz:active{
    background-color: #07FFE1;

}
.Work:active{
    background-color: #07FFE1;

}
.Videos:active{
    background-color: #07FFE1;

}

.quizbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
    padding-top: 10vh;
}    
.workbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
    padding-top: 0vh;

    
}
.quizimage{
    margin: 5vh;
    width: 30vh;
    height: 24vh;
    scale: 1.4;
    
    
}
.workimage{
    margin: 5vh;
    width: 30vh;
    height: 28vh;
    scale: 1.4;
    
    
}
.quizinfo{
    text-align: center;
    font-size: 1rem;
    margin-left: 10vw;
    width: 40vh;
    scale: 1;
    align-self: center;


}
.quizinfo h1{
    color: #07FFE1;
}

.page4{
    margin-top: 5vh;
    display: flex;
    width: 100vw;
    height: 120vh;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    
}




.boxes{
    display: flex;
    justify-content: center;  
    
}
.contactbox{
    /* border: 2px solid red; */
    height: 80vh;
    width: 90vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.formlabel1{
    background-color: #222323;
    border: none;
    border-radius: 2px;
    height: 45px;
    width: 350px;
    color: white;
    margin: 9px;
    padding-left: 10px;
    font-size: 15px;
    position: relative;
    right: 0px;

}
#submitbutton{
    align-self: center;
    justify-self: center;
    margin: 9px;
    
    
    margin-top: 10px;
    
}
.formlabel2{
    background-color: #222323;
    border: none;
    border-radius: 2px;
    height: 135px;
    width: 350px;
    color: white;
    margin: 9px;
    padding-left: 10px;
    font-size: 15px;
    text-align: top right;

    
}
/* .formlabel1:focus{
    border: 3px solid #07FFE1;
} */
input:focus{
    border: 3px solid #07FFE1;
    
}

footer{
    background-color:transparent;
    
    color: white;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: 0.6rem;
    margin-bottom: 5px;
}









